<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h3> redData </h3>
<div>
  <ul>
    <li><a href="/goodsList/">goods_list</a></li>
    <li><a href="/postsList/">post_list</a></li>
    <li><a href="/brand/">brand</a></li>
  </ul>
</div>
  </body>
</html>
